.timer {
    display: flex;
    gap: 4px;
    justify-content: center;
    text-align: center;
}

.timer__item {
    flex: 0 0 80px;
}

.timer__unit {

    border-radius: 6px;
    background-color: #A3B6C7;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
    padding: 8px;
    margin-bottom: 4px;
}

.timer__unit-descr {
    font-weight: 300;
}

@media (min-width:1024px) {
    .timer {
        gap: 8px;
    }

    .timer__item {
        flex-basis: 120px;
    }

    .timer__unit {
        font-size: 40px;
        padding: 11px;
        bottom: 8px;
    }

    .timer__unit-descr {
        font-size: 20px;
    }
}